doctype html
html(lang='fr')
    head
        title Servicio Terminales Portuarias
    body(style="font-family: 'Open Sans',sans-serif; font-size: 12px")
        table
            tr
                td
                    img(src="http://terminales.puertobuenosaires.gob.ar/images/logo.png")
                td
                    h1(style="font-family: inherit; font-weight: 400; font-size: 30px; line-height: 1.1; color: #0099d7;") &nbsp;Comprobante de Coordinación
        br
        p Solicitad generada en&nbsp
            b #{full_name}
            | &nbspel día #{alta}. Se contaba con&nbsp
            b #{disponibles_t1}
            | &nbspturnos disponibles dentro los 5 días sin costo al momento del alta.
        table
            tr
                td(style="font-weight:bolder;text-align:right") Terminal:
                td #{full_name}
            tr
                td(style="font-weight:bolder;text-align:right") Fecha:
                td #{inicio}
            tr
                td(style="font-weight:bolder;text-align:right") Fin del Turno:
                td #{fin}
            tr
                td(style="font-weight:bolder;text-align:right") Contenedor:
                td #{contenedor}
            tr
                td(style="font-weight:bolder;text-align:right") Buque:
                td #{buque}
            tr
                td(style="font-weight:bolder;text-align:right") Viaje:
                td #{viaje}
        p
        p Administración General de Puertos pone en conocimiento que el Turno solicitado ha sido generado correctamente.
