doctype html
html(lang='fr')
    head
        title Servicio Terminales Portuarias
    body(style="font-family: 'Open Sans',sans-serif; font-size: 12px, background-color:white")
        table
            tr
                td
                    img(src="http://terminales.puertobuenosaires.gob.ar/images/logo.png")
                td
                    h1(style="font-family: inherit; font-weight: 400; font-size: 30px; line-height: 1.1; color: #0099d7;") &nbsp;Comprobante de Coordinación
        p Solicitud generada en&nbsp;
            b #{full_name}
            | &nbsp;el día #{alta}. Se contaba con&nbsp;
            b #{disponibles_t1}
            | &nbsp;turnos disponibles dentro del período de la Tarifa 1.
        table(cellpadding="4" style="font-size:16px;font-weight:bolder; cell-padding:5px")
            tr
                td(style="text-align:right; background-color:#C8C8C8") Terminal:
                td(style="border:1px solid #C8C8C8") #{full_name}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Fecha:
                td(style="border:1px solid #C8C8C8") #{fecha}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Horario:
                td(style="border:1px solid #C8C8C8") #{horario}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Contenedor:
                td(style="border:1px solid #C8C8C8") #{contenedor}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Buque:
                td(style="border:1px solid #C8C8C8") #{buque}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Viaje:
                td(style="border:1px solid #C8C8C8") #{viaje}
            tr
                td(style="text-align:right; background-color:#C8C8C8") Movimiento:
                if tipo == "IMPO"
                    td(style="border:1px solid #C8C8C8")  Importación
                else
                    td(style="border:1px solid #C8C8C8")  Exportación
            if verifica != "" && verifica != null
                tr
                    td(style="text-align:right; background-color:#C8C8C8") Verificación:
                    td(style="border:1px solid #C8C8C8")
                        span #{verifica}
                        if verifica_turno == "MA"
                            | &nbsp;MAÑANA
                        if verifica_turno == "TA"
                            | &nbsp;TARDE
                tr
                    td(style="text-align:right; background-color:#C8C8C8") Tipo:
                    if verifica_tipo == "PISO"
                        td(style="border:1px solid #C8C8C8") PISO
                    if verifica_tipo == "CAMION"
                        td(style="border:1px solid #C8C8C8") CAMIÓN
        p
        p Administración General de Puertos pone en conocimiento que el Turno solicitado ha sido generado correctamente. Este comprobante deberá ser presentado ante cualquier reclamo.
