doctype html
html(lang='es')
    head
        title Servicio Terminales Portuarias
    body(style="font-family: 'Open Sans',sans-serif; font-size: 12px; background-color:white !important")
        table
            tr(style="background-color: white !important;")
                td
                    img(src="http://terminales.puertobuenosaires.gob.ar/images/logo.png")
                td
                    h1(style="font-family: inherit; font-weight: 400; font-size: 30px; line-height: 1.1; background-color:white !important; color: #0099d7;") &nbsp;#{voucher} faltantes en #{terminal}
        br
        h2 Cantidad de comprobantes faltantes #{totalCount}
        - each val1, index1 in param
            div(style="font-family: inherit; font-weight: bolder; color: #fff;background-color: #e74c3c;border: 1px solid #e74c3c; padding: 10px 15px;border-top-right-radius: 3px;border-top-left-radius: 3px; width:800px") Punto de Venta #{val1.nroPtoVenta} con #{val1.totalCount} faltantes.
            div(style="border: 1px solid #e74c3c; padding: 10px 15px;width:800px")
                - var total = val1.data.length - 1;
                - each val2, index2 in val1.data
                    - if (total == index2)
                        span(title="#{val2.d}") #{val2.n}
                    - else
                        span(title="#{val2.d}") #{val2.n} -&nbsp;

            br
        p
            p(style="text-align: left") Administración General de Puertos pone en conocimiento que exiten comprobante faltante de envio.
