doctype html
html(lang='en')
    head
    title Control Terminales Portuarias
    body(style="font-family: 'Open Sans',sans-serif; margin: 20px")
        - var runtime = moment(node.runtime).format("ddd DD-MM-YYYY HH:mm:SS")
        - var fromNow = moment(node.runtime).fromNow(true)
        h1(style="color: #0099d7;") Servicio Control Terminales Portuarias
        p(style="font-weight:bolder") IP&nbsp
            span(style="font-weight: normal") #{server.ip}
        p(style="font-weight:bolder") Port&nbsp
            span(style="font-weight: normal") #{server.port}
        p(style="font-weight:bolder") NodeJs&nbsp
            = node.version
        p(style="font-weight:bolder") Mongoose&nbsp
            = mongoose.version
            span
                - if (mongoose.connected)
                    span(style="color:green")  Connected
                - else
                    span(style="color:red")  Not connected
        - if (oracle)
            p(style="font-weight:bolder") Oracle&nbsp;
                - if (oracle.pool)
                    span(style="color: green") Open(#{oracle.pool.connectionsOpen}) - Used(#{oracle.pool.connectionsInUse})
                - else
                    span(style="color: red")  Not connected
        p(style="font-weight:bolder") Process
        ul
            li MasterPID #{process.masterPid}
            li PID #{process.pid}
            li Memory #{process.heapUsed} - Total #{process.heapTotal}
            li Cpus #{process.cpus}
            li Processes Qy #{process.processes}
    p(style="font-weight:bolder") Runtime&nbsp;
            span(style="font-weight: normal") #{runtime} - #{fromNow}
