doctype html
html(lang='fr')
	head
		title Control Terminales
	body(style="font-family:arial")
		p(style="font-size:24px")
			b Control Terminales Portuarias
		p #{titulo}
		p
			b Terminal:
			span &nbsp;#{terminal}
		p
			b Tarifa:
			span &nbsp;#{code}
		p
			b Descripción:
			span &nbsp;#{description}
		p
			b Valor:
			span &nbsp;#{price}
		p
			b Código Asociados:&nbsp;
			- var total = asociados.length - 1;
			- each val2, index2 in asociados
				- if (val2.new)
					span(style="font-weight: bolder") #{val2.code} (nueva asociacion)&nbsp;
				- else
					span #{val2.code}&nbsp;
				- if (total !== index2)
					span -&nbsp;
